- if current_user.sanataro
  %table
    - @entries.each do |e|
      %tr
        %td= e.id
        %td= e.action_date
        %td= e.confirmation_required?
        %td= e.name
        %td= @accounts.find{|a| a.id == e.from_account_id}.try(:name) || "(不明)"
        %td= @accounts.find{|a| a.id == e.to_account_id}.try(:name) || "(不明)"
        %td= e.amount
- else
  = link_to 'You have to authenticate.', oauth_consumer_path("sanataro")


